body {
    font-family: Arial, sans-serif;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #d8baa4;
}

.nav li {
    display: inline;
}   

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav a:hover {
    background-color: #f0d09edb;
}

.faq-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 10px;
}

.question {
    background-color: #e0bc7f;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.answer {
    display: none;
    color: white;
    background-color: #c48e38;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
}
