ul {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    }

nav>ul>li {
    list-style: none;
    float: left;
    padding: 30px 150px;}

li>a, button>a { 
    text-decoration-line: none;
    font-size: 40px;
    color:black;
}
    
li:hover { background-color: bisque; }
.logo {
    /* font-family: sans-serif; */
    font-size: 300%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.line {
    border: 0;
    height: 1px;
    background: #c7c7c7;
}
/* 회사 소개 파트 */
.maintext {
    padding: 0 0 90px;
    text-align: center;
}
.maintext ,textbox{
    width: 100; height: 280px;
    margin: 35px 0 0;
}
.maintext2 {
    background: #c5af74;
    padding: 85px 0 90px;
    text-align: center;
}
.t1t1 {
    font-size: 15px;
    color: rgb(216, 210, 155);
}
.t2t2 {
    font-size: 22px;
    color: black;
}
.conwrap {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}