/* 메인 로고 이미지 설정 */
.logo_name {
    height: 150px;
    text-align: center;
    display: flex; /* 부모 요소를 플렉스 컨테이너로 설정합니다. */
    justify-content: center; /* 자식 요소를 수평으로 가운데 정렬합니다. */
    align-items: center;
}

.logo_name img {
    display: block; 
    margin: 0 auto;
    max-height: 90px;
}

/* nav 태그 설정 */
.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #e0e0c8;
}

.nav li {
    display: inline;

}   

.nav a {
    font-size: 30px;
    padding: 40px ;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}

.nav a:hover {
    background-color: #ebd6a7;
}

nav li:hover { background-color: #bca293; }
nav>ul>li:hover { background-color: #bca293; }
nav>ul>li:active { background-color:#e0e0c8; }

/* 버튼 설정 */
.button_background {
    height: 1200px;
    background-size: auto;
    background-color: rgb(247, 245, 234);
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
button {
    background: rgba(224, 215, 202, 0.8);
    width: 400px;
    height: 200px;
    border: 50px;
    border-radius: 30px;
    text-align: center;
    }


li:hover { background-color: #f0d2ad; }
button:hover { background-color: #f0d2ad; }
button:active { background-color:#bca293 }
    

li>a, button>a { 
    text-decoration-line: none;
    font-size: 40px;
    color:black;
}

/* 꼬리말 설정 */
footer>div {
    font-size: 150%;
    left:0; bottom: 0; right: 0;
    height: 200px;
    background:rgb(235, 235, 235);}
